:root {
    --red: #f14725;
    --orange: #fac712;
    --yellow: #fef445;
    --lime: #cee741;
    --green: #8ed14f;
    --teal: #0fa689;
    --cyan: #14cdd4;
    --blue: #00aaff;
    --indigo: #414bb2;
    --violet: #652cb3;
    --purple: #9411ac;
    --pink: #da0063;

    --accent: #00aaff;
    --accentLight: #50c5ff;
    --accentDark: #0088cc;

    --black: #000000;

    --darkDark: #181818;
    --dark: #222222;
    --darkLight: #282828;

    --gray: #808080;
    --grayLight: #a0a0a0;
    --grayDark: #606060;

    --light: #aaaaaa;
    --lightLight: #cccccc;
    --lightDark: #888888;

    --white: #f8f8f8;

    /* sizing */

    --minUnit: min(1vw, 1vh);
    --maxUnit: max(1vw, 1vh);

    /* transitions */

    --restTransition: 0.25s;
    --hoverTransition: 0.15s;
    --activeTransition: 0.1s;

    --colorSchemeTransition: 0.25s;

    /* sizes */

    --navbarWidth: 3.5rem;
    --navbarPadding: 0.5rem;
    --navbarMargin: 0.5rem;
}
/* light mode */
:root, *.lightMode {
    color-scheme: light;

    --panelBackground: var(--white);
    --panelBorder: var(--lightDark);
    --panelTextColor: var(--dark);
}
/* dark mode */
@media (prefers-color-scheme: dark) {
    *.darkMode {
        color-scheme: dark;

        --panelBackground: var(--darkDark);
        --panelBorder: var(--darkLight);
        --panelTextColor: var(--light);
    }
}

.themeSencative {
    transition: color var(--colorSchemeTransition), background-color var(--colorSchemeTransition);
}



/* dark mode */

